{{extend 'layout2.html'}}


<table class="table table-striped">
  <thead >
    <tr >
      <th scope="col">Issue Id</th>
      <th scope="col">Issue Name</th>
      <th scope="col">Head Id</th>
      <th scope="col">Advisor Id</th>
      <th scope="col">Student Id</th>


    
    </tr>
  </thead>
  <tbody style=" align-content: center; ;">
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>

      <td>
        <select id="inputState" class="form-control">
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </td>
      <td>
        <select id="inputState" class="form-control">
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </td>





    </tr>

  </tbody>
</table>

<style>
    th {
      background-color: #0d1f33;
      color: #ffffff;
      font-weight: bold;
      padding: 1em;
      text-align: center;
    }
  

table{
  width: 50%; 
  font-size: 14px;
}


  </style>