{{extend 'layout2.html'}}


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">type of issue </th>
        <th scope="col">number of student select this type </th>
        <th scope="col">numbr of submited report of this type </th>


      </tr>

    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
  
      </tr>
      
    </tbody>
  </table>
  <style>
th{
    background-color: #0d1f33;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
  </style>