{{extend 'layout1.html'}}


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Discription</th>
      <th scope="col">Submitter</th>
      <th scope="col">Assigne</th>
      <th scope="col">Status</th>
      <th scope="col">Created date</th>
      <th scope="col">Priorty</th>
      <th scope="col">Head Id</th>


    
    </tr>
  </thead>
  <tbody>
  	{{for issue in issue:}}
    <tr>
      <td>{{=issue['ID']}}</td>
      <td>{{=issue['Title']}}</td>
      <td>{{=issue['discription']}}</td>
      <td>{{=issue['submitter']}}</td>
      <td>{{=issue['assigne']}}</td>
      <td>{{=issue['status']}}</td>
      <td>{{=issue['createdDate']}}</td>
      <td>{{=issue['priority']}}</td>
      <td>{{=issue['head_ID']}}</td>

    </tr>
    {{pass}}
    
  </tbody>
</table>

<style>


th{
    background-color: #0d1f33;
  color: #ffffff;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

 
  </style>

</style>